<!DOCTYPE html>
<html>
<head th:replace="fragments/parts::head(title='Animales Perdidos Usuario')">
	<meta charset="UTF-8" />
</head>
<body class="indigo lighten-5">
	
	<!-- Dropdown Structure USUARIO -->
	<ul th:replace="fragments/parts::dropdown1"></ul>
	<!-- Dropdown Structure USUARIO MOVIL -->
	<ul th:replace="fragments/parts::dropdown2"></ul>
	
	<!-- NAVBAR -->
	<nav th:replace="fragments/parts::navbar"></nav>

	<!-- SIDENAV Structure ADAPTACION MOVILES -->
	<ul th:replace="fragments/parts::sidenav"></ul>
	
	<br />
	<div class="container white" style="min-height: 60vh; padding: 20px">
		<!-- CONTAINER -->
		<div class="row">
			<!-- ROW -->
			
			<h4 class="center" th:text="'Animales Perdidos de '+ ${usuario.getNombre()}" style="font-weight: bold"></h4>
			
			<ul class="collection" th:each="a : ${usuario.getAnimalesPerdidos()}">
			    <li class="collection-item avatar" >
			      <img th:src="@{'/fotos/' + ${a.getFoto()}}" alt="" class="circle">
			      <span class="title" th:text="${a.getNombre()}"></span>	
			      <p th:text="${a.getCiudad()}"></p>
			      
			      <p class="green-text accent-3" th:if="${a.isAdoptado() == true}" style="font-weight: bold">Encontrado</p>
			      <p class="red-text accent-3" th:if="${a.isAdoptado() == false}" style="font-weight: bold">En busqueda</p>
			      
			      <a th:href="@{'/usuario/modificarAnimalPerdido?animal='+${a.getId_animal()}}">Modificar Animal - (Encontrado/En Busqueda)</i></a>
			      
			      <a th:href="@{'/usuario/borrarAnimalPerdido?animal='+${a.getId_animal()}}" class="secondary-content"><i class="material-icons">delete</i></a>
			    </li>			    
			</ul>
			
		</div>
		<!-- ROW -->
	</div>
	<!-- CONTAINER -->
	<br />
	<!-- FOOTER -->
	<footer th:replace="fragments/parts::footer2"></footer>
</body>
<script th:replace="fragments/parts::scriptMat"></script>
</html>