<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Login</title>

<!-- Archivo CSS -->
<link rel="stylesheet" type="text/css" href="css/login.css" />

<!-- Iconos Materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="bodyLogin">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l8 offset-l2 loginDiv">
				<div class="row loginContainer">				
					<div class="col s12 m6 l6">
						<div class="col s12" style="margin-top:65px">							
							<img src="img/logo.png" class="responsive-img" />
						</div>
					</div>
					<div class="col s12 m5 l5 offset-1">
						<div class="loginTitle">
							<form th:action="@{/login}" method="post">
								<h5>Inicio Sesión</h5>
								<div class="row">
									<div class="col s12 customInput">
										<i class="material-icons prefix">account_circle</i> <input
											class="browser-default" type="text" name="username"
											id="username" placeholder="Usuario" required autofocus
											autocomplete="off" />
									</div>
									<div class="col s12 customInput">
										<i class="material-icons prefix">vpn_key</i> <input
											class="browser-default" type="password" name="password"
											id="password" placeholder="Contraseña" required />
									</div>
								</div>
								<div class="row">
									<button class="btn col s12 m12 l12 bLogin green accent-3"
										type="submit">LOGIN</button>
								</div>
								<div class="row">
									<h6 class="red-text" th:if="${error!=null}"
										th:text="${'ERROR DE ACCESO: Usuario y/o Contraseña incorrectos.'}"></h6>
								</div>
								<div class="row">
									<a th:href="@{/}">Volver a Inicio</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
